<!DOCTYPE html>
<html lang="ko" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/_layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Account - index</title>

    <script>
    </script>

</head>
<body>
    <main layout:fragment="content">
        <a th:href="@{/accounts/new}">생성</a>
        <div class="container mt-3">
            <!--/* 회원 생성 폼을 만듭니다. */-->
            <form th:action="@{/accounts}" th:post="post" th:object="${}">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username"><br>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password"><br>
                </div>
                <div>
                    <label for="name">Password:</label>
                    <input type="text" id="name" name="password"><br>
                </div>
            </form>
        </div>
    </main>
</body>
</html>