<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute, XmlUnusedNamespaceDeclaration -->
<html lang="ko" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/_layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Account - index</title>

    <!-- Toast UI Grid CSS -->
    <!--suppress JSUnresolvedLibraryURL -->
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />

    <!-- Toast UI Grid JS -->
    <!--suppress JSUnresolvedLibraryURL -->
    <script  src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>

    <script>
        const Grid = tui.Grid;

        document.addEventListener('DOMContentLoaded', () => {
            fetch('http://localhost:8080/api/accounts')
                .then(response => response.json())
                .then(data => {
                    const grid = new Grid({
                        el: document.getElementById('grid'),
                        data: data._embedded.accounts,
                        columns: [
                            {header: '계정명', name: 'username'},
                            {header: '이름', name: 'name'},
                            {header: '생성 일시', name: 'createdAt'},
                            {header: '수정 일시', name: 'modifiedAt'}
                        ]
                    });
                })
                .catch(error => console.error('Error:', error));

        });



    </script>

</head>
<body>
<main layout:fragment="content">
    <a th:href="@{/accounts/new}">생성</a>
    <div id="grid"></div>

</main>
</body>
</html>